.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}



.maincol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100px;
  bottom: 0px;
  overflow: visible;
  height: 800px;
  width: 100%;
  /*overflow: visible*/
}


asider {
  min-width: 1000px;
  background: #333744;
  /*&::-webkit-scrollbar {*/

   /*}*/
  /*&.showSidebar {*/
  /*overflow-x: hidden;*/
  /*overflow-y: auto;*/
   /*}*/
}

.maincontent {

}

.main {
  /*height: 1000px;*/
  overflow: auto;
  width: 2000px;
  height: 1000px;
}
