.debugdevices {
  width: 900px;
  height: 600px;
  /*margin: 20px auto;*/
  background: #fff;
  box-shadow: 0 0 12px #5269c2;
  padding: 20px 20px 0 20px;
  border-radius: 3px;
}

.panel-header {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 15px;
  color: #333;
  background-color: #bfdcf5;
  border-color: #ddd;
}


.debugrow {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 800px;
/*height: 1200px;*/
&:last-child {
   margin-bottom: 0;
 }
}



.complebtn {
  /*margin-left: 20px;*/
  margin-right: 0px;
  margin-left: 50px;
  margin-top: 30px;
}

.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 20px;
&:last-child {
   margin-bottom: 0;
 }
}


.decontainer {
  height: 800px;
  width: 1100px;
  border: 1px solid #eee;
}

.maincontent {
  overflow: auto;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

.box-card {
  width: 400px;
}


.mainRow {
  width: 1400px;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}


/*html, body {*/
  /*height:100%;*/
  /*font-family: 'SF UI Text', 'San Francisco Text', Roboto, -apple-system, sans-serif;*/
/*}*/

#chat {
  height: 380px;
  /*overflow: hidden;*/
  display: flex;
  flex-flow: column;
  /*position:absolute;*/
  overflow:auto;
}

#messages-window {
  background:#eee;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  align-items:flex-start;
  padding:20px;
}

.message {
  background:gray;
  color:white;
  padding:8px 12px;
  margin-bottom:8px;
  border-radius:16px;
  max-width:70%;
}

.ours {
  background:#0076FF;
  align-self:flex-end;
}

